/*Stylesheet for Lab 2 Geog 575 by Jeff Kalar, Nov 2020*/


p {
    color: #383107;
    font-weight: bold;
}

.jumbotron-fluid {
   /* border: solid 4px;
    border-color: #887a28;*/
    font-weight: bold;
}

.dropdown-menu {
    height: 180px;
    overflow-y: auto;
    text-align: center;
}

.dropdown-item {
    word-wrap: normal;
}

#mapContainer {
    margin-bottom: 10px;
    margin-left: 50px;
   /* background-color: #e6e8fa;*/
    background-color: #adad88;
}

#chartContainer {
    margin-top: 150px;
    background-color: #adad88;
    margin-right: 0px;
    margin-left: 20px;
    margin-top: 270px;
    margin-bottom: 10px;
}

h1 {
    font-family: garamond;
    font-weight: bold;
    color: #383107;
}

h3 {
    font-weight: bolder;
}

h5 {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    color: #383107;
    font-weight: bold;
    margin-top: 10px;
}

body {
    background-color: #adad88;
    /*background-image: url("/img/usa.jpg");
    background-size: cover;*/
    border: solid 15px;
    border-color: #887a28;
}

#title {
    text-align: center;
}

#story{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

.chart {
	float: auto;
	margin: 0px 0px 0px 0px;
    /*outline: solid black 3px;
    outline-offset: 18px;*/
}

.chartTitle {
	font-family: sans-serif;
	font-size: 0.9em;
	font-weight: bold;
    fill: black;
    margin-left: 0px;
}

.chartBackground {
	fill: #adad88;
}

.chartFrame {
	fill: none;
	stroke: none;
	stroke-width: 1.8px;
	shape-rendering: crispEdges;
}

.dropdown {
    position: absolute;
    top: 275px;
    right: 95px;
    z-index: 10;
    font-family: sans-serif;
    font-size: .95em;
    font-weight: bold;
    color: #383107;
    padding: 6px;
    border: 1px solid #887a28;
    box-shadow: 1px 1px 2px #000;
}

option {
    font-weight: normal;
}


.infolabel {
	position: fixed;
	height: 100px;
	min-width: 100px;
	color: #383107;
	background-color: #ded59f;
	border: solid thin #fff;
	padding: 15px 15px;
    /*border-radius: 1750px;*/
	top: -75px;
}

.infolabel h1 {
	margin: 0 20px 0 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}

.regions {
    fill:#296FB3;
	stroke: black;
	stroke-width: 1px;
	stroke-linecap: round;   
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 1.2em;
	fill: black;
    font-weight: bold;
}


.regions:hover{opacity: 0.35;}
.bar:hover{opacity: 0.35;}
	
	